body{
	background-color:PowderBlue;
	color:black;
	font-size: 20px;
	font-weight: bolder;
	margin-left: 2rem;
	
}
#buton{
	background-color:black;
	color:white;
	font-size: 50px;
	padding: 10px;
}
h1{ 
 	margin: 0;  	padding: 0 0 20px;  	text-align: center;  	font-size: 60px; 
} 
.logo img
{
float:left;
width: 150px;
height: auto;
border-radius: 50%;
width: 100px;  	
height: 100spx; 
}
