body{  	margin: 0;  	padding: 0;  	background: url(scheduleback.jpeg); background-size:cover;
	background-image:linear-gradient(rgba(0,0,0,0.5)),url(scheduleback.jpeg); 
 	background-position: left;  	font-family: Century Gothic; 
    margin-top: 40px;
} 
.logo img
{
float: left;
width: 150px;
height: auto;
border-radius: 50%;
width: 150px;  	
height: 150px; 
}

ul
{
float: right;
list-style-type: none;
margin-top:25px;
}
ul li
{
display: inline-block;
}
ul li a
{
text-decoration: none;
color: #fff;
padding: 5px 20px;
border: 1px solid transparent;
transition: 0.6s ease;
}
ul li a:hover
{
background-color: #fff;
color: #000;
}
ul li.active a
{
background-color: #fff;
color: #000;